@font-face {
    font-family: Roobert;
    src:local('Roobert'),
    url(../fonts/roobert/Roobert-Regular.otf);
}

@font-face {
    font-family: Roobert-Bold;
    src:local('Roobert'),
    url(../fonts/roobert/Roobert-Bold.otf);
}
@font-face {
    font-family: Roobert-Light;
    src:local('Roobert'),
    url(../fonts/roobert/Roobert-Light.otf);
}
@font-face {
    font-family: Roobert-Medium;
    src:local('Roobert'),
    url(../fonts/roobert/Roobert-Medium.otf);
}
@font-face {
    font-family: Roobert-SemiBold;
    src:local('Roobert'),
    url(../fonts/roobert/Roobert-SemiBold.otf);
}
::-webkit-input-placeholder {font-family: Roobert;}
::-moz-placeholder          {font-family: Roobert;}
:-moz-placeholder           {font-family: Roobert;}
:-ms-input-placeholder      {font-family: Roobert;}
.color-orange{
    color: #EF4A23;
}
.active{
    border-bottom: 2px solid #EF4A23;
}
.text-size{
    font-size: 18px;
    max-width: 90%;
    padding-bottom: 30px;
    line-height: 24px;
    font-family: "Roobert-Light";
}
.more-link{
    font-size: 40px;
    position: relative;
    color: #fff;
    padding-top: 20px;
    transition: color 0.3s;
    font-family: Roobert-Bold;
}

.more-link:after{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: 50px 28px;
    background-position: 50% 50%;
    height: 28px;
    width: 50px;
    right: -70px;
    top: 35px;
    transition: transform 0.3s;
}
.more-link:hover{
    color: #EF4A23;
}
.more-link:hover.more-link:after{
    transform: translateX(20px);
}
section{
    position: relative;
}
.white-decor{
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.white-decor1{
    background-image: url(../img/lines1.svg);
    left: 0;
    bottom: -77px;
    background-position: -100px 20px;
}

.white-decor2{    
    background-image: url(../img/lines2.svg);
    right: 0;
    background-position: 150px 20px;
    top: -50px;
}
.white-decor23{
    background-image: url(../img/lines23.svg);
    right: 0;
    bottom: -77px;
    background-position: 60px 20px;
}
.white-decor24{
    width: 300px;
    height: 300px;
    background-image: url(../img/lines23.svg);
    background-size: contain;
    top: 30px;
    background-position: -210px 0;
    left: 0;
}
.white-decor25{
    background-image: url(../img/lines23.svg);
    background-size: contain;
    background-position: -190px 0;
    left: 0px;
    bottom: -90px;
}
.white-decor26{
    transform: rotate(180deg);
    background-image: url(../img/lines23.svg);
    background-size: contain;
    background-position: -300px 0;
    right: 0;
    width: 400px;
    height: 400px;
    bottom: -340px;
}
.white-decor27{
    background-image: url(../img/lines23.svg);
    background-size: contain;
    background-position: 260px 0;
    transform: rotate(185deg);
    top: 400px;
    left: 0;
    width: 350px;
    height: 350px;
}
.white-decor28{
    background-image: url(../img/lines23.svg);
    background-size: contain;
    background-position: -190px 0;
    left: 0px;
    bottom: -90px;
    display: none;
}




body{
    font-family: "Roobert", sans-serif;
    background-color: #111111;
    color: #FFFFFF;
    overflow-x: hidden;
    

}
section, header{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 calc(50% - 620px);
}
section{
    position: relative;
}

header, .footer-wrapp{

    display: flex;
    /* padding-left: 139px; */
    padding-top: 26px;
    justify-content: space-between;
}

header .logo img, footer .logo img{
    width: 187px;
    height: 36px;
}
header nav ul li a{
   position: relative; 
}
header nav ul li a:after{
    background-color: #EF4A23;
    display: block;
    content: "";
    margin-top: 6px;
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
header nav ul li a:hover:after,
header nav ul li a:focus:after {
    width: 100%;
}
header nav ul, footer .menu-wrapp ul{
    display: flex;
    margin-right: 140px;
}
header nav ul li, footer .menu-wrapp ul li{
    margin-left: 22px;
}
header nav ul li a, footer .menu-wrapp ul li a{
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 5px;
}
footer{
    background-color: #000;
    position: relative;
    z-index: 1;
    padding-left: 139px;
    padding-right: 139px;

}
footer .menu-wrapp ul {
    margin-right: 0;
}
.footer-wrapp{
    max-width: 1366px;
    margin: 0 auto;
}
footer .menu-wrapp ul li a{
    font-size: 16px;
    text-transform: none;
}
.copyright{
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.43;
    padding: 15px;
}




.main_block{
    min-height: 500px;
    padding-top: 172px;
    display: flex;
    background-image: url(../img/Group-418.svg);
    background-size: 110%;
    background-position: -112% 50%;
}
.main-title{
    font-size: 3.75vw;
    width: 30vw;
    line-height: 61px;
    padding-bottom: 30px;
    font-family: "Roobert-Bold", sans-serif;
    min-width: 420px;
}

.main-img{
    transform: translateY(-60px);
}
.main-img img{
    width: 44vw;
}
.mouse-icon{
    width: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: -30px;
}
.features-section{
    padding-top: 140px;
}

.features-title h2{
    font-size: 40px;
    line-height: 53px;
    padding-bottom: 46px;
    font-family: "Roobert-Bold", sans-serif;
}
.features-description{
    max-width: 48%;
    padding-bottom: 70px;
}
.features-blocks{
    display: flex;
    padding-bottom: 60px;
    margin-left: 70px;
}
.features-item{
    max-width: 30%;
    display: flex;
}
.features-item img{
    display: block;
    margin-right: 20px;
    height: 79px;
    width: 80px;
}
.features-item h3{
    font-size: 24px;
    font-family: Roobert-Bold, serif;
    padding-bottom: 20px;
}
.features-text{
    max-width: 10vw;
}
.features-item p{
    /* max-width: 152px; */
    font-size: 18px;
}
.divider{
    width: 70px;
    border-bottom: 2px dashed #fff;
    transform: translate(0,-60%);
    margin: 0 30px;
}
.products_block{
    min-height: 500px;
    padding-top: 172px;
    display: flex;
}
.products-title{
    font-size: 40px;
    text-transform: uppercase;
    max-width: 90%;
}
.products-text {
    max-width: 72%;
}
.products-title, .products-text{
    padding-bottom: 70px;
}
.products-img{
    transform: translateY(0);
    padding-top: 6vw;
}
.contact-section{
    padding-top: 145px;
    display: flex;
}
.contact-title{
    max-width: 70%;
}
.contact-text {
    max-width: 74%;
}
.contact-description{
    max-width: 40%;
}
.rocket-img-wrapp {
    position: absolute;
    width: 360px;
    height: 360px;
    left: -10px;
    background-image: url(../img/rocket-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
}
.contact-form{
    width: 50%;
    padding-bottom: 80px;
}
.form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #EF4A23;
    border-radius: 6px;
    padding:  15px;
    box-sizing: border-box;
}
textarea{
    height: 266px;
}
::-webkit-input-placeholder {font-size: 16px;}
::-moz-placeholder          {font-size: 16px;}
:-moz-placeholder           {font-size: 16px;}
:-ms-input-placeholder      {font-size: 16px;}
.checkbox{
    height: auto;
}
.form-button{
     background-color: none;
    background: none; 
    border: none;
    color: #fff;
    text-align: left;
    padding: 0;
    position: relative;
    max-width: 100px;
}
.form-button:after{
    right: -60px;
    top: 10px;
}
.rocket-img{
    display: block;
    transform: translate(-50px, 50px);
}
/* @media (max-width: 1300px){
    .wrapp {
        padding: 0 calc(50% - 570px);
    }
}*/
@media (max-width: 1100px){
    .main-title {
        font-size: 4.75vw;
    }
    .text-size{
        font-size: 16px;
    }
    .features-description {
        max-width: 78%;
    }
    .main-img img {
        width: 40vw;  
    }
    .features-section {
        padding-top: 0px;
    }
    .features-blocks {
        flex-direction: column;
    }
    .features-item {
        max-width: 100%;
        display: flex;
        margin-bottom: 50px;
    }
    .features-text {
        max-width: 100%;
    }
    .divider{
        display: none;
    }
    .rocket-img-wrapp {
        margin-top: 0;
   }
}
@media (max-width: 768px){
    .mouse-icon{
        display: none;
    }
    .main{
        background-image: url(../img/Group-418.svg);
        background-size: 315%;
        background-position: 85% 50%;
        padding-bottom: 300px;
        background-repeat: no-repeat;
    }
    .main_block {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 100px;    
    }
    .main-img img {
        width: 70vw;  
    }
    .products_block{
        flex-direction: column;
    }
    .products-text{
        max-width: 100%;
    }
    .contact-text {
        max-width: 84%;
    }
    .contact-form {
        width: 100%;
    }
    .rocket-img-wrapp{
        max-width: 300px;
        z-index: -1;
    }
    .footer-wrapp {
        flex-direction: column;
    }
    .footer-wrapp .logo{
        text-align: center;
        margin-bottom: 50px;
    }
    footer .logo img {
        width: 187px;
        height: 36px;
    }
    footer .menu-wrapp ul{
        max-width: 62vw;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 3;
        margin: 0 auto;
    }
    footer .menu-wrapp ul li{
        margin-left: 10px;
        margin-right: 10px;
    }
    .white-decor23 {
        background-image: url(../img/lines23.svg);
        right: 0;
        bottom: 33px;
        background-position: 140px 20px;
    }
    .white-decor1 {
        background-image: url(../img/lines1.svg);
        left: 0;
        bottom: 83px;
        background-position: -100px 20px;
    }

}

@media (max-width: 500px){
    nav, .main-img, .mouse-icon, .divider, .white-decor25, .rocket-img-wrapp{
        display: none;
    }
    .wrapp {
        padding: 0 30px;
    }
    
    header .logo img, footer .logo img{
        width: 125px;
        height: 36px;
    }
    .main{
        background-image: url(../img/Group-418.svg);
        background-size: 315%;
        background-position: 85% 50%;
        padding-bottom: 300px;
        background-repeat: no-repeat;
    }
    .main-title {
        font-size: 47px;
        min-width: 100%;
        padding-bottom: 49px;
    }
    .main-text {
        padding-bottom: 40px;
        font-size: 16px;
    }
    .more-link{
        font-size: 30px;
    }
    .more-link::after {
        top: 28px;
    }
    .main_block{
        background-image: url(../);
    }
    /* .white-decor2 {
        top: -90px;
        left: -400px;
    } */
    .white-decor23 {
        background-image: url(../img/lines23.svg);
    right: 0;
    bottom: -17px;
    background-position: 200px 20px;
    }
    .white-decor1 {
        background-image: url(../img/lines1.svg);
        left: 0;
        bottom: 93px;
        background-position: -190px 20px;
    }
    .white-decor24{
        width: 320px;
    height: 300px;
    background-image: url(../img/lines23.svg);
    background-size: cover;
    top: -50px;
    background-position: -240px 0;
    left: 0;
    } 
    .white-decor26 {
        transform: rotate(180deg);
        background-image: url(../img/lines23.svg);
        background-size: contain;
        background-position: -270px 0;
        right: 0;
        width: 350px;
        height: 400px;
        bottom: -50px;
    }
    .white-decor28{
        display: block;
        right: 0;
        bottom: -261px;
        transform: rotate(-176deg);
        background-position: 217px;
        }
    .white-decor27{
        display: none;
    }    
    .white-decor29{
        background-image: url(../img/lines23.svg);
        background-size: contain;
        background-position: 260px 0;
        transform: rotate(185deg);
        top: 400px;
        width: 350px;
        height: 350px;
        right: 0;
        top: 850px;
        bottom: 0;
        transform: rotate(180deg);
        background-position: -220px;
    }
    .features-section {
        padding-top: 0px;
    }
    .features-title h2 {
        font-size: 30px;
        padding-bottom: 30px;
    }
    .features-text {
        max-width: 100%;
    }
    .features-description{
        max-width: 100%;
    }
    .features-blocks{
        flex-direction: column;
        margin: 0;
    }
    .features-item img {
        height: 80px;
        width: 80px;
    }
    .features-item {
        max-width: 100%;
        padding-bottom: 100px;
    }
    .rocket{
        padding-bottom: 40px;
    }
    .features-more-link{
        padding-top: 0;
    }
    .features-more-link:after{
        top: 8px;
    }
    
    .products_block {
        padding-top: 87px;
        flex-direction: column;
    }
    .products-text{
        max-width: 100%;
    }
   .products-title{
       font-size: 26px;
       line-height: 38px;
   }
   .products-title span{
       display: block;
   }
   .products-img{
       display: block;
       transform: translateY(0px);
       text-align: center;
   }
   .products-img img{
    width: 100%;
   }


    .contact-section {
        flex-direction: column;
        padding-bottom: 60px;
    }
    .contact-description {
        max-width: 100%;
        padding-bottom: 40px;
    }
    .contact-title{
        font-size: 26px;
        padding-bottom: 30px;
    }
    .contact-text{
        min-width: 88vw;
    }
    .contact-form{
        width: 83vw;
        margin: 0 auto;
    }
    .form-button{
        margin-top: 30px;
    }
    .form-button:after{
        top: 6px;
    }
    .copyright {
        width: 80%;
        line-height: 1.5;
        margin: 0 auto;
    }
    footer {
        padding: 0 15px;
    }
   
}



section, header{
    padding: 0 15px;
  }
  
  @media (min-width: 575.98px){
    section, header {
      padding: 0 calc(50% - 270px);
    }
  }
  
  @media (min-width: 767.98px){
    section, header {
      padding: 0 calc(50% - 360px);
    }
  }
  
  @media (min-width: 991.98px) {
    section, header{
      padding: 0 calc(50% - 480px);
    }
  }
  
  @media (min-width: 1199.98px){
    section, header {
      padding: 0 calc(50% - 590px);
    }
  }
  header{
      padding-top: 26px;
  }