.features-text{
    max-width: 100%;
}
.features-text h3{
    padding-bottom: 30px;
    max-width: 90%;
}
.features-item {
    max-width: 100%;
}

.features-blocks {
    margin-left: 0;
}
.services-section{

}
.servise-container{
    width: 50%;
}
.services-block{
    padding-top: 30px;
    display: flex;   
    justify-content: space-between;
}
.servises-wrap{
    display: flex;
}
.servises-list{
    margin-right: 30px;
    max-width: 50%;
}
.servises-list li{
    margin-bottom: 15px;
    /* max-width: 50%; */
}

@media (max-width: 1024px){
    .services-block{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 768px){
    .servise-container {
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .features-blocks {
        margin: 0 auto;
    }
    .features-item {
        padding-bottom: 0;
    }
    .features-title h2{
        line-height: 1;
    }
    .contact-section{
        padding-top: 50px;
    }
}

@media (max-width: 425px){
    .servises-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .servises-list {
        margin-right: 30px;
        max-width: 100%;
    }
}